.vet-basket {
    width: 100%;
    min-height: 100vh;
    text-align: center;
    h2, h3 {
        color: #5e6073;
        font-family: 'Montserrat Alternates', sans-serif;
        font-size: 40px;
        text-align: center;
    }
    h3 {
        font-size: 22px;
        margin-bottom: 10px;
    }
    header {
        margin-bottom: 20px;
    }
}

#vet-basket-header {
    background-image: url('/assets/images/basket-header-image.jpg');
    background-position: 0% 100%;
    position: relative;
    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255,255,255,0.5);
    }
}

#make-order-button{
    margin: 10px;
    background-color: #f8fc28;
    border: 0px transparent;
    width: 400px;
    height: 80px;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    color: #5e6073;
    cursor: pointer;
    &:disabled {
        filter: grayscale(100%);
        opacity: 0.2;
        cursor: default;
    }
}

.order-form {
    width: 610px;
}

.order-form-block {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    label {
        width: 610px;
        text-align: left;
        display: flex;
        justify-content: space-between;
        padding: 10px;
        font-family: 'Montserrat Alternates', sans-serif;
    }
    input {
        width: 300px;
        height: 30px;
        padding: 3px;
    }
    textarea {
        width: 300px;
        height: 200px;
        resize: none;
        padding: 3px;
    }
}

.basket-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start; 
    margin-bottom: 20px;
}

.basket-list {
    width: 40vw;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    li {
        border: 1px solid #5e6073;
        border-bottom: 0px solid transparent;
    }
    &:last-child {
        border-bottom: 1px solid #5e6073;
    }
    h3 {
        margin: 10px;
    }
}

.basket-list-item {    
    display: flex;
    justify-content: flex-start;
    align-items: center;
    img {
        width: 150px;
    }
}

.left-side-item {
    padding: 20px;
}

.delete-basket-button {
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: 0px transparent;
    background-image: url('/assets/images/delete-basket-image.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

.top-side-item, .bottom-side-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    p {
        font-size: 18px;
        text-align: left;
        padding-left: 20px;
        font-family: 'Montserrat Alternates', sans-serif;
    }
}

.product-count-block p {
    padding-left: 0px;
    text-align: center;
    padding-bottom: 3px; 
}

.product-count-input {
    width: 150px;
    height: 30px;
    text-align: center;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 16px;
}

.modal-window-wrap {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999999;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-window {
    width: 500px;
    height: 300px;
    padding: 20px 20px 30px 20px;
    border-radius: 10px;
    background-color: rgba(255,255,255, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-window-text-block {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    p {
        margin: 10px;
    }
}

.modal-window-close-btn {
    width: 200px;
    height: 50px;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 20px;
    background-color: rgb(108, 106, 109);
    color: #f6f7fa;
    border: 0;
    margin-top: 20px;
}

@media only screen and (max-width: 1200px) {
    .order-form-block {
        text-align: left;
        justify-content: space-between;
        label {
            width: 100%;
        }
        input {
            width: 20vw;
        }
        textarea {
            width: 20vw;
        }
    }
    .basket-list {
        margin: 0px;
    }
}

@media only screen and (max-width: 870px) {
    .basket-container {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center; 
        margin-bottom: 10px;
    }
    .order-form-block {

        label {
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            padding-left: 0px;
        }
        input {
            margin-top: 3px;
            width: 60vw;
        }
        textarea {
            margin-top: 3px;
            width: 60vw;
        }
    }
    .order-form {
        width: 60vw;
    }
    .basket-list {
        width: 90vw;
    }
}

@media only screen and (max-width: 450px) {
    .top-side-item, .bottom-side-item {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    #make-order-button {
        width: 80vw;
        font-size: 7vw;
    }
}