<div class="children-block" id="small-children">
    <h3>Цуценята</h3>
    <div class="child-item " >
      <div class="child-img">
        <img src="assets/images/von_gerhard/children-1.png" alt="Child">
      </div>
      <div class="child-description right-description">
        <p >Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis expedita magni consectetur, numquam architecto quas esse, voluptatem autem ad beatae tempore voluptas quia enim a, impedit deserunt error iste quis!</p>
      </div>
    </div>
    <div class="child-item reverse-flex">        
      <div class="child-description left-description">
        <p >Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis expedita magni consectetur, numquam architecto quas esse, voluptatem autem ad beatae tempore voluptas quia enim a, impedit deserunt error iste quis!</p>
      </div>
      <div class="child-img">
        <img src="assets/images/von_gerhard/children-3.jpg" alt="Child">
      </div>
    </div>
  </div>  
