<header id="vet-children-header" class="vet-products-header">
    <h1>Von GerHard</h1>
  </header>
  <section class="vet-children-list">
    <h2>Розплідник</h2>
    <div class="vet-children-head-text">
      <p class="children-main-info">Вітаємо Вас у нашому розпліднику Von GerHard! Зверніться до нас, і ми негайно допоможемо знайти цуценя, що відповідає всім Вашим вимогам, або просто допоможемо порадою.</p>
      <p class="children-main-info">На нашому сайті Ви знайдете фото цуценят наших вихованців, опис і стандарт, дізнаєтеся історію походження порід. У розпліднику Von GerHard Ви зможете вибрати і купити цуценя шоу класу і займатися виставкової кар'єрою свого вихованця, придбати і виховати собаку охоронця або просто знайдете відданого друга.</p>
    </div>
    <div class="children-main-links-block">
      <a routerLink="/children/adult" > <a href="#router">Дорослі</a> </a>
      <a routerLink="/children/puppies" id="puppies-children-link"><a href="#router">Цуценята</a></a>
    </div>
    
    <router-outlet id="router"></router-outlet>
  </section>