<header id="vet-children-header" class="vet-products-header">
    <h1>Von GerHard</h1>
  </header>
  <section class="vet-children-list">
    <h2>Наші діти</h2>
    <p class="children-main-info">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deserunt culpa et distinctio perspiciatis molestiae quia soluta quo facilis velit, corporis, sequi cum officiis? Totam quis consequuntur velit dolor sit architecto? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum eos esse quae quaerat autem hic alias totam, dignissimos nesciunt quia fuga necessitatibus delectus illum eveniet sint, ipsa repellat. Obcaecati, ex?</p>
    <!-- <p class="children-main-info">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad eum saepe molestiae hic beatae quia voluptatibus pariatur, ipsa numquam dolores obcaecati impedit perferendis odit ullam porro recusandae in maxime similique.</p> -->
    <div class="child-item">
      <div class="child-img">
        <img src="assets/images/von_gerhard/children-1.png" alt="Child">
      </div>
      <div class="child-description right-description">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis expedita magni consectetur, numquam architecto quas esse, voluptatem autem ad beatae tempore voluptas quia enim a, impedit deserunt error iste quis!</p>
      </div>
    </div>
    <div class="child-item reverse-flex">        
        <div class="child-description left-description">
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis expedita magni consectetur, numquam architecto quas esse, voluptatem autem ad beatae tempore voluptas quia enim a, impedit deserunt error iste quis!</p>
        </div>
        <div class="child-img">
            <img src="assets/images/von_gerhard/children-3.jpg" alt="Child">
          </div>
      </div>
  </section>