<header id="vet-home-header">
  <div id="vet-home-slider">
    <div class="vet-home-slide vet-home-slide-1" [ngClass]="{'slide-1-visible': slideOneVisability}" ></div>
    <div class="vet-home-slide vet-home-slide-2" [ngClass]="{'slide-2-visible': slideTwoVisability}"></div>
    <div class="vet-home-slide vet-home-slide-3" [ngClass]="{'slide-3-visible': slideThreeVisability}"></div>
  </div>
  <div id="vet-home-header-text">
    <h1>Von GerHard</h1>
    <h2>Тільки найкращі товари для Ваших улюбленців!</h2>
  </div>
  <img id="vet-home-mouse" src="assets/images/mouse_icon.svg" alt="Mouse icon">  
</header>
<section id="vet-home-products">
  <div class="vet-home-products-h">
    <h2>Наші продукти</h2>
  </div>
  <div id="vet-home-products-links">
    <a routerLink="/meds" class="vet-home-product-item pre-anim-hide" id="meds-link">
      <div class="product-name">
        <h3>ВЕТПРЕПАРАТИ</h3>
      </div>
    </a>
    <a routerLink="/feed" class="vet-home-product-item pre-anim-hide" id="feed-link">
      <div class="product-name">
        <h3>КОРМ</h3>
      </div>
    </a>
    <a routerLink="/ammo" class="vet-home-product-item pre-anim-hide" id="ammo-link">
      <div class="product-name">
        <h3>АМУНІЦІЯ</h3>
      </div>
    </a>
  </div>  
</section>
<section id="vet-home-about-us">
  <h2>Про нас</h2>
  <h3>Вітаємо Вас у нашому спеціалізованому інтернет-зоомагазині  “Von GerHard”.</h3>
  <p class="about-us-text">Домашні тварини знаходяться поруч з людиною напротязі багатьох тисячолітть. Наука вже давно довела, що тварини зміцнюють наше психічне та фізичне здоров’я,  знижують рівень стресу, дарують радісні емоції. Вони в буквальному сенсі можуть продовжити життя свого господаря.</p>
  <p class="about-us-text">Кожен люблячий свого вихованця турботливий господар прагне забезпечити тварину всім необхідним для комфортного проживання та здорового розвитку.</p>
  <p class="about-us-text">На сьогодні різноманіття товарів для догляду за домашніми улюбленцями вражає. На основі власного баготорічного досвіду у нашому магазині ми підібрали найкращі перевірені товари для Ваших друзів. Пропонуємо Вам широкий ассортимент кормів вітамінів, добавок, засобів для догляду та аксесуарів для тварин.</p>
  <div class="about-us-info-block"> 
    <ul class="about-us-list about-us-half">
      <h3 >Наші принципи:</h3>
      <li>висока якість . Всі товари сертифіковані, зроблені з високоякісних продуктів та матеріалів напряму від виробників та офіційних дистрибюторів;</li>
      <li>оптимальні ціни та швидка доставка;</li>
      <li>комплексний підхід для догляду за тваринами;</li>
      <li>відмінний сервіс з індивідуальним підходом до кожного клієнта.</li>
    </ul>    
    <div class="about-us-contacts about-us-half">
      <h3>Наші контакти</h3>
      <p>Телефон: +38 (067) 175 97 66</p>
      <p>Телефон: +38 (067) 175 97 66</p>
      <p>E-mail: von-gerhard@gmail.com</p>
      <div class="social-icons-block">
        <a href="https://www.facebook.com/Vitaliy-VON-Gerhard-1956182394392279/" target="_blank"><img src="assets/images/facebook_icon.png" alt="facebook"></a>
        <a href="https://www.instagram.com/vitaliy_vongerhard/" target="_blank"><img src="assets/images/instagram_icon.png" alt="instagram"></a>
      </div>
    </div>
  </div>
  <p class="about-us-text">Крім того, ми потурбувались щоб Вам було максимально зручно обирати товари з нашою зручною навігаційною панеллю. Всі товари поділені на категорії, які відповідають конкретному виду.</p>
  <h3>Дякуємо за Ваш вибір!</h3>
  <a class="about-us-to-products-btn" (click)="navScrollFunction()">
    Обрати продукт
  </a>
</section>