<article class="vet-list-item">
  <button class="delete-item-button" 
          (click)="toogleModalWindowVisability()"
          
          *ngIf="loginStatus"></button>
  <div class="vet-product-img-container">
      <img [src]="vetProductsItem?.imageURL ? vetProductsItem?.imageURL : '/assets/images/image-not-found.jpg'" alt="Item image">
      <div class="price-block">
        <p><b>Ціна:</b> {{vetProductsItem?.price}} грн.</p>
      </div>
  </div>  
  <div class="vet-list-item-text">
    <h2>{{vetProductsItem?.name}}</h2>
  </div>
  <div class="vet-list-buttons-block"> 
    <a [routerLink]="'/full-info/' + vetProductsItem.id"><button>Детальний опис</button></a> 
    <button (click)="addOrDeletePRoductFromBasket(vetProductsItem)">{{basketStatus ? 'Видалити з кошика' : 'Додати в кошик'}}</button>
  </div>
</article>
<div class="modal-window-wrap" *ngIf="modalWindowVisability">
  <div class="modal-window">
    <p>Ви дійсно хочете видалити об'єкт {{vetProductsItem?.name}}?</p>
    <div class="modal-window-button-blk">
      <button id="modal-window-delete-btn" (click)="deleteItem(vetProductsItem, vetProductsItem.type); toogleModalWindowVisability()"  >Так</button>
      <button id="modal-window-no-btn" (click)="toogleModalWindowVisability()">Ні</button>
    </div>
  </div>
</div>
